---
layout: default
---

<h1 style="text-align: center;">all posts</h1>

<section>

	{% for post in site.posts %}
<!-- 		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}
 -->
		<center>* * *</center>
		<div class="panel">
			<div class="post-date code">
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					{{ post.date | date: "%m.%d.%y" }}
				</a>
			</div>
			{% if post.title == '' %}
				<div class="note">{{ post.excerpt }}</div>
			{% else %}
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"><h3>{{ post.title }}</h3></a>
				</div>
			{% endif %}
		</div>
	{% endfor %}

</section>
